
*.pdb
Finance.API/bin/Debug/net8.0/DnsClient.dll
Finance.API/bin/Debug/net8.0/Finance.API.dll
Finance.API/bin/Debug/net8.0/Finance.API.pdb
Finance.API/bin/Debug/net8.0/Microsoft.OpenApi.dll
Finance.API/bin/Debug/net8.0/MongoDB.Bson.dll
Finance.API/bin/Debug/net8.0/MongoDB.Driver.dll
Finance.API/bin/Debug/net8.0/SharpCompress.dll
Finance.API/bin/Debug/net8.0/Snappier.dll
Finance.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
Finance.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Finance.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Finance.API/bin/Debug/net8.0/ZstdSharp.dll
Finance.API/obj/Debug/net8.0/apphost
Finance.API/obj/Debug/net8.0/Finance.API.AssemblyInfo.cs
Finance.API/obj/Debug/net8.0/Finance.API.AssemblyInfoInputs.cache
Finance.API/obj/Debug/net8.0/Finance.API.assets.cache
Finance.API/obj/Debug/net8.0/Finance.API.csproj.AssemblyReference.cache
Finance.API/obj/Debug/net8.0/Finance.API.csproj.CoreCompileInputs.cache
Finance.API/obj/Debug/net8.0/Finance.API.csproj.FileListAbsolute.txt
Finance.API/obj/Debug/net8.0/Finance.API.dll
Finance.API/obj/Debug/net8.0/Finance.API.GeneratedMSBuildEditorConfig.editorconfig
Finance.API/obj/Debug/net8.0/Finance.API.genruntimeconfig.cache
Finance.API/obj/Debug/net8.0/Finance.API.MvcApplicationPartsAssemblyInfo.cs
Finance.API/obj/Debug/net8.0/Finance.API.pdb
Finance.API/obj/Debug/net8.0/ref/Finance.API.dll
Finance.API/obj/Debug/net8.0/refint/Finance.API.dll
Finance.API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Finance.API.props
Finance.API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Finance.API.props
Finance.API/obj/Finance.API.csproj.nuget.dgspec.json
Finance.API/obj/Finance.API.csproj.nuget.g.props
Finance.API/obj/Finance.API.csproj.nuget.g.targets
Finance.API/obj/project.assets.json
Finance.API/obj/project.nuget.cache
Finance.API/Properties/launchSettings.json
.vs/Finance/xs/UserPrefs.xml
.vs/Finance/xs/project-cache/Finance.API-Debug.json
