
*.pdb
Finance.API/bin/Debug/net8.0/DnsClient.dll
Finance.API/bin/Debug/net8.0/Finance.API.dll
Finance.API/bin/Debug/net8.0/Finance.API.pdb
Finance.API/bin/Debug/net8.0/Microsoft.OpenApi.dll
Finance.API/bin/Debug/net8.0/MongoDB.Bson.dll
Finance.API/bin/Debug/net8.0/MongoDB.Driver.dll
Finance.API/bin/Debug/net8.0/SharpCompress.dll
Finance.API/bin/Debug/net8.0/Snappier.dll
Finance.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
Finance.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Finance.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Finance.API/bin/Debug/net8.0/ZstdSharp.dll
Finance.API/obj/Debug/net8.0/apphost
Finance.API/obj/Debug/net8.0/Finance.API.AssemblyInfo.cs
Finance.API/obj/Debug/net8.0/Finance.API.AssemblyInfoInputs.cache
Finance.API/obj/Debug/net8.0/Finance.API.assets.cache
Finance.API/obj/Debug/net8.0/Finance.API.csproj.AssemblyReference.cache
Finance.API/obj/Debug/net8.0/Finance.API.csproj.CoreCompileInputs.cache
Finance.API/obj/Debug/net8.0/Finance.API.csproj.FileListAbsolute.txt
Finance.API/obj/Debug/net8.0/Finance.API.dll
Finance.API/obj/Debug/net8.0/Finance.API.GeneratedMSBuildEditorConfig.editorconfig
Finance.API/obj/Debug/net8.0/Finance.API.genruntimeconfig.cache
Finance.API/obj/Debug/net8.0/Finance.API.MvcApplicationPartsAssemblyInfo.cs
Finance.API/obj/Debug/net8.0/Finance.API.pdb
Finance.API/obj/Debug/net8.0/ref/Finance.API.dll
Finance.API/obj/Debug/net8.0/refint/Finance.API.dll
Finance.API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Finance.API.props
Finance.API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Finance.API.props
Finance.API/obj/Finance.API.csproj.nuget.dgspec.json
Finance.API/obj/Finance.API.csproj.nuget.g.props
Finance.API/obj/Finance.API.csproj.nuget.g.targets
Finance.API/obj/project.assets.json
Finance.API/obj/project.nuget.cache
Finance.API/Properties/launchSettings.json
.vs/Finance/xs/UserPrefs.xml
.vs/Finance/xs/project-cache/Finance.API-Debug.json
Finance.API/bin/Debug/net8.0/DnsClient.dll
Finance.API/bin/Debug/net8.0/Finance.API.dll
Finance.API/bin/Debug/net8.0/Finance.API.pdb
Finance.API/bin/Debug/net8.0/Microsoft.OpenApi.dll
Finance.API/bin/Debug/net8.0/MongoDB.Bson.dll
Finance.API/bin/Debug/net8.0/MongoDB.Driver.dll
Finance.API/bin/Debug/net8.0/SharpCompress.dll
Finance.API/bin/Debug/net8.0/Snappier.dll
Finance.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
Finance.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Finance.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Finance.API/bin/Debug/net8.0/ZstdSharp.dll
Finance.API/obj/Debug/net8.0/Finance.API.AssemblyInfo.cs
Finance.API/obj/Debug/net8.0/Finance.API.AssemblyInfoInputs.cache
Finance.API/obj/Debug/net8.0/Finance.API.assets.cache
Finance.API/obj/Debug/net8.0/Finance.API.csproj.AssemblyReference.cache
Finance.API/obj/Debug/net8.0/Finance.API.csproj.CoreCompileInputs.cache
Finance.API/obj/Debug/net8.0/Finance.API.csproj.FileListAbsolute.txt
Finance.API/obj/Debug/net8.0/Finance.API.dll
Finance.API/obj/Debug/net8.0/Finance.API.GeneratedMSBuildEditorConfig.editorconfig
Finance.API/obj/Debug/net8.0/Finance.API.genruntimeconfig.cache
Finance.API/obj/Debug/net8.0/Finance.API.MvcApplicationPartsAssemblyInfo.cs
Finance.API/obj/Debug/net8.0/Finance.API.pdb
Finance.API/obj/Debug/net8.0/ref/Finance.API.dll
Finance.API/obj/Debug/net8.0/refint/Finance.API.dll
Finance.API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Finance.API.props
Finance.API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Finance.API.props
Finance.API/obj/Finance.API.csproj.nuget.dgspec.json
Finance.API/obj/Finance.API.csproj.nuget.g.props
Finance.API/obj/Finance.API.csproj.nuget.g.targets
Finance.API/obj/project.assets.json
Finance.API/obj/project.nuget.cache
Finance.API/Properties/launchSettings.json
Finance.API/obj/Debug/net8.0/refint/Finance.API.dll
Finance.API/obj/Debug/net8.0/ref/Finance.API.dll
Finance.API/obj/Debug/net8.0/Finance.API.sourcelink.json
Finance.API/obj/Debug/net8.0/Finance.API.pdb
Finance.API/obj/Debug/net8.0/Finance.API.dll
Finance.API/obj/Debug/net8.0/Finance.API.csproj.FileListAbsolute.txt
Finance.API/obj/Debug/net8.0/Finance.API.csproj.CoreCompileInputs.cache
Finance.API/obj/Debug/net8.0/Finance.API.AssemblyInfoInputs.cache
Finance.API/obj/Debug/net8.0/Finance.API.AssemblyInfo.cs
Finance.API/obj/Debug/net8.0/apphost.exe
Finance.API/bin/IISSupport/pidfile.txt
Finance.API/bin/Debug/net8.0/Finance.API.pdb
Finance.API/bin/Debug/net8.0/Finance.API.exe
Finance.API/bin/Debug/net8.0/Finance.API.dll
.vs/Finance/v17/DocumentLayout.json
.vs/Finance/v17/DocumentLayout.backup.json
.vs/Finance/v17/.suo
.vs/Finance/FileContentIndex/e4aea631-5797-48d2-b9c3-9f2f52ff0fec.vsidx
.vs/Finance/FileContentIndex/d8a7f6ce-836d-4d24-a3dd-0ea68c00de73.vsidx
.vs/Finance/FileContentIndex/baa33226-9aa4-4bbd-805c-ab3b989b8ccc.vsidx
.vs/Finance/FileContentIndex/af5e02c4-475e-4ea4-a652-d7e6014d7841.vsidx
.vs/Finance/FileContentIndex/753eeaac-9f44-429d-8ac9-784a92c55ef3.vsidx
.vs/Finance/FileContentIndex/65f6a357-5e19-48f4-a3c4-84577abd87a1.vsidx
.vs/Finance/FileContentIndex/363bb628-a981-4bc9-8c75-6c22d59619fc.vsidx
.vs/Finance/FileContentIndex/1bf3a64f-9e7e-4b92-ac3d-15be75f06e7a.vsidx
